<!DOCTYPE html>
<html lang="en">

    <title> I am the king </title>

    <body>



        <section name="jumbotron"  >
            <div class="jumbotron text-center">
                <h1>The ultimate hotdog presents you the enormous jumbo dog</h1>
                <p>This is a cool stuff</p>
            </div>
        </section>


    </body>

</html>